---
---
<header class="fixed w-full">
    <div class="bg-black text-white py-4 shadow-lg shadow-zinc-600">
        <nav class="container mx-auto px-6 py-2 flex flex-wrap items-center justify-between">
            <h1 class="sm:text-4xl text-2xl font-bold order-first ">実験棟出口</h1>
            <div class="order-last items-center flex sm:text-2xl text-xl">
                <a class="inline-block m-0 mr-6 hover:bg-gray-800 px-2 rounded-lg" href="https://github.com/eva828Dev/MediPro">Github</a>
                <a class="inline-block m-0 hover:bg-gray-800 px-2 rounded-lg" href="https://eva828dev.github.io/MediPro/javadoc/">Javadoc</a>
            </div>
        </nav>
    </div>
</header>